/*
#88cc88
*/


/* Card deck overide
******************************************/
.card-columns {
    column-count: 1;
}


/**
 Login
*/


.login {
    position: relative;
}

.login .form-group {
    position: relative;
    margin-top: 2.2rem;
}

.login input[type="text"].form-control , .login input[type="password"].form-control {
    border-radius: 30px;
    padding: 25px;
}

.login button {
    border-radius: 50px;
    padding: 0.7rem;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.login label {
    position: absolute;
    top: 0;
    padding: 0.9rem 0 1rem 1rem;
    transition: all 200ms;
    opacity: 0.5;
}

.form-control:focus + label,
.form-control:valid + label,
.login label:focus {
    transform: translate3d(0, -75%, 0);
    opacity: 1;
}
/*

Clases
*/

.main {
    min-height: 81.9vh;
    margin-bottom: 7vh;
}

.producto {
    position: relative;
    width: 100%;
    margin: 2px;
    margin-bottom: 10px;
    border-radius: 0;
}





.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.producto > .btn {
    color: white;
    background-color: #88cc88;
    border-radius: 0;
}

.descuento {
    background-color: #ed5a5a;
    font-size: large;
    
    display: inline;
    
    position: absolute;
    top:  1rem;
    left: 1rem ;
}

.precio-descuento {
    color: #ed5a5a;
    font-weight: 700;
    font-size: 120%;
}

.precio-descuento span {
    color: black;
    text-decoration-line: line-through; 
    margin-right: 0.5rem;
    font-size: 80%;
    font-weight: 500;
}

.numero-productos input.form-control {
    background-color: #f7f7f7;
    border: 2px solid #dfdfdf;
    border-left: 0;
    border-right: 0;
    height: 100%;
}

.numero-productos .btn-izq {
    border: 2px solid #dfdfdf    ;
    background-color: #f7f7f7;
    border-right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;

    height: 100%;

}
.numero-productos .btn-der {
    border: 2px solid #dfdfdf;
    background-color: #f7f7f7;
    border-left: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

    height: 100%;

}

.img-logo {
    height: 1rem;
}

.product-img {
    object-fit: scale-down;
    width: 100%;
    height: 20vh;
}


.to-top {
    display: inline-block;
    position: fixed;
    bottom: 11vh;
    right: 0.3vh;
    z-index: 120;
}

.to-top > div{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;

    background: rgba(0, 0, 0, 0.473);

}

.to-top i {
    font-size: 4.4rem;
    color: black;
}

.footer {
    min-height: 7vh;
    position: fixed;
    bottom: 0;
    left: 0;

    display: inline-block;
    width: 100vw;
    z-index: 100;

    color: rgba(255, 255, 255, 0.664);

}

.footer a {
    color: rgba(255, 255, 255, 0.664);
}

.footer a:hover {
    color: rgba(255, 255, 255, 1);
}


/* SM media query */
@media (min-width: 576px) {
    .producto {
        width: calc(50% - 4px);
    }
    .to-top {
        display: none;
    }
    
}
/* MD media query */
@media (min-width: 768px) {
    .producto {
        width: calc(33% - 4px);
    }
}
/* LG media query */
@media (min-width: 992px) {
    .producto {
        width: calc(20% - 4px);
    }
}
